[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Ksuperkey Right
Comment=Right Super Key
Exec=ksuperkey -e 'Super_R=Alt_L|F1'
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
